{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Уроки</title>
</head>
<header>
     <p><a href="/main" class="btn btn-primary">Вернуться на главную страницу</a></p><br>
     <form action="" method="post">
        {{ form.hidden_tag() }}
     <nav>
        <p align="justify">
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
     <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
     </nav>
     </form>
</header>
<style>
   .letter {
    p {
    color: rgb(255, 0, 0);
   }
    font-size: 200%;
   }
</style>
<body>
    {% for lesson in questions %}
        <div class="alert alert-info">
            Id: {{ lesson.id }}<br>
            Задание: {{ lesson.quest }} <br>
            Ответы: {{ lesson.answers }} <br>
            Тип задания: {{ lesson.type_q }} <br>
            Правильные ответы: {{ lesson.correct_ans }} <br>
            {% if current_user.is_authenticated and current_user.id == lesson.creator_id %}
            <div>
                <a href="/edit_quest/{{ lesson.id }}" class="btn btn-warning">Изменить</a>
                <a href="/quest_delete/{{ lesson.id }}" class="btn btn-danger">Удалить</a>
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <p><a href="/add_quest" class="btn btn-primary">Создать задание</a></p><br>
 <p align="justify"><span class="letter"> {{ message }} </span></p>
</body>
{% endblock %}